<ion-content [fullscreen]="true" class="login-content">
  <div class="login-container">
    <img class="logo" src="../../../assets/logo.jpg" alt="Icon note" />
    <form [formGroup]="form" (ngSubmit)="doLogin()">
      <ion-row>
        <ion-col>
          <app-input
            [Control]="email"
            icon="person"
            label="Email"
            type="email"
            placeholder="Enter your email"
          ></app-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <app-input
            [Control]="password"
            icon="lock-closed-outline"
            label="Password"
            type="password"
            placeholder="Enter your password"
          ></app-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="action-row">
          <a [routerLink]="['/register']" class="register-link">Register</a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="action-row">
          <app-button [disable]="this.form.invalid" type="submit" value="Login" width="70%"></app-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
